*.opendb
*.VC.db
*.filters
*.user
*.suo
*.manifest
*.cd
*.ipch
*.sdf
*.map
*.aps
/weight_ui/WeightControl/Data/
/weight_ui/WeightControl/weightcontrol.ini
*.tlog
*.obj
*.idb
*.lib
*.log
*.pdb
/weight_ui/WeightControl/.vs/
BuildLog.htm
*.lastbuildstate
*.recipe
*.FileListAbsolute.txt
Browse.VC.db-shm
Browse.VC.db-wal
Solution.VC.db-shm
Solution.VC.db-wal
*.ilk
*.res
*.exe
*.iobj
*.ipdb
*.dll
*.pch
/.vs/
/weight_ui/WeightControl/Data/
