*.opendb
*.VC.db
*.filters
*.user
*.suo
*.manifest
*.cd
*.ipch
WeightWatchers/UpgradeLog.XML
*.sdf
*.map
*.aps
WeightWatchers/Data/week*.xml
WeightWatchers/weightwatchers.ini
*.tlog
*.obj
*.idb
*.lib
*.log
*.pdb
/WeightControl/Data/
WeightControl/.vs/
BuildLog.htm
*.lastbuildstate
*.recipe
*.FileListAbsolute.txt
/_WWModel/
Browse.VC.db-shm
Browse.VC.db-wal
Solution.VC.db-shm
Solution.VC.db-wal
*.ilk
*.res
*.exe
*.iobj
*.ipdb
*.dll
*.pch
/.vs/
/out/
