*.opendb
*.VC.db
*.filters
Conversion/Conversion/Debug/
*.user
WWGenerated/Debug/
*.suo
WeightWatchers/Debug/
WeightWatchers/Release/
*.manifest
*.cd
*.ipch
WeightWatchers/WeightWatchers/Debug/
WeightWatchers/WeightWatchers/Release/
WWGenerated/Release/
WWModel/Debug/
WWModel/Release/
WeightWatchers/UpgradeLog.XML
*.sdf
*.map
*.aps
WeightWatchers/Data/week*.xml
WeightWatchers/weightwatchers.ini
*.tlog
*.obj
*.idb
*.lib
*.log
*.pdb
/Generated12/Debug/
/Generated12/Release/
/WeightWatchers/Data/
WeightWatchers/.vs/
/WWGenerated2015/Debug/
/WWGenerated2015/Release/
/Conversion/Conversion/Release/
/Conversion/Conversion/Debug/
/WWGenerated2019/Debug/
/WWGenerated2019/Release/
BuildLog.htm
*.lastbuildstate
*.recipe
*.FileListAbsolute.txt
/_WWModel/
Browse.VC.db-shm
Browse.VC.db-wal
Solution.VC.db-shm
Solution.VC.db-wal
*.ilk
*.res
*.exe
